
<!DOCTYPE html>
<!-- Models Page-->
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Bold Badgers ~ ML Models</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <h1 class="site-heading text-center text-faded d-none d-lg-block">
                <span class="site-heading-upper text-primary mb-3">GDP Per Capita Predictor</span>
                <span class="site-heading-lower">Machine Learning Models</span>
            </h1>
        </header>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
            <div class="container">
                <a class="navbar-brand text-uppercase fw-bold d-lg-none" href="index.html">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/">Home</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/data_analysis">Data Analysis</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/models">Models</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/model_analysis">Performance</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/interactive">Try our Model</a></li>
                        <li class="nav-item px-lg-4"><a class="nav-link text-uppercase" href="/team">Our Team</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- models -->
        <section class="page-section about-heading pb-5">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="/static/img/0000-decision-tree-ppt-template.png" alt= "..." />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">1st Machine Learning Model</span>
                                    <span class="section-heading-lower">Decision Tree</span>
                                </h2>
                                <h3>Description</h3>   
                                <p>
                                    A Decision Trees are useful machine learning tools for making decisions and categorizing data. They create a tree-like strucutre by dividing data based on important features, forming decision nodes and leaf nodes. The algorithm keeps splitting the data until it reaches a stopping point, resulting in easy-to-understand models that handle different types of data. Decision trees find applications in various fields and are great for solving classification and regression problems by capturing complex relationships in the data
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- models -->
        <section class="page-section about-heading pb-5">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="" height = "200">
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">2nd Machine Learning Model</span>
                                    <span class="section-heading-lower">Random Forest</span>
                                </h2>
                                <h3>Description</h3>   
                                <p>
                                    A Random Forest is a popular machine learning model that belongs to the ensemble learning family. 
                                    It is used for both classification and regression tasks. 
                                    The fundamental idea behind a Random Forest is to combine the predictions of multiple individual decision trees to create a more accurate and robust overall prediction.
                                </p>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SGD -->
        <section class="page-section about-heading pb-5">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="" alt= "..." />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">3rd Machine Learning Model</span>
                                    <span class="section-heading-lower">Stochastic Gradient Descent</span>
                                </h2>
                                <h3>Description</h3>   
                                <p>
                                    Stochastic Gradient Descent (SGD) is a fundamental optimization algorithm widely used in machine learning and neural network training. Unlike conventional gradient descent, which processes the entire dataset in each iteration, SGD takes a more computationally efficient approach by randomly sampling individual data points or small batches for updating model parameters. This randomness introduces noise, causing the optimization path to oscillate around the true gradient, but this trade-off enables faster convergence, especially on large datasets. By updating the model parameters based on the gradients of the selected data points, SGD continually adapts and refines the model, eventually finding the optimal solution. Additionally, variants like Mini-batch SGD strike a balance between computation and convergence speed, making SGD a versatile and widely adopted optimization technique in the field of machine learning.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- MLP NN -->
        <section class="page-section about-heading pb-5">
            <div class="container">
                <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="/static/img/neural-network.jpg" alt= "..." />
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-upper">4th Machine Learning Model</span>
                                    <span class="section-heading-lower">Multi Layered Perceptron Neural Network</span>
                                </h2>
                                <h3>Description</h3>   
                                <p>A neural network is made up of many nodes and layers. Each node has weights associated to it that determines the activation function parameters and threshold. An activation function, such as the ReLU function, takes an input and based on that, gives an output which is above or below the activation threshold, thus causing the node to be activated or disabled. Each layer has some number of nodes, with all the nodes feeding into the input of the next layer for this particular model type. Finally, an output is generated from all the interactions of the different nodes</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- limitations of the models -->
        <section class="page-section about-heading">
            <div class="container">
                <div class="about-heading-content">
                    <div class="row">
                        <div class="col-xl-9 col-lg-10 mx-auto">
                            <div class="bg-faded rounded p-5">
                                <h2 class="section-heading mb-4">
                                    <!-- <span class="section-heading-upper">1st Machine Learning Model</span> -->
                                    <span class="section-heading-lower">Limitations</span>
                                </h2>
                                <h3></h3>   
                                <p>Some models, such as the Multi Layer Perceptron neural network, overfit to the training data and had poor validation scores. 
                                    The overfitting can likely be attributed to the small dataset size, although most models better handled the size of the data. 
                                    Most of the SKLearn models performed very well due to a combination of hyperparameter tuning, feature engineering, and data scaling. 
                                    The neural network, our only model using Pytorch instead of SKlearn, was not highly tuned due to time limitations.</p>
                                <p class="mb-0">
                                    The size of our dataset is an obvious limitation; however, our accuracy was high for most models.
                                    Time was a limiting factor as well, specifically limiting how long we could spend tuning our neural network.
                                    Another challenge was trying to find the most important features in the dataset, as there were a lot of features that improved the model performance, but were obscure and not usable if the model was deployed for public use. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <footer class="footer text-faded text-center py-5">
            <div class="container"><p class="m-0 small">Copyright &copy; Bold Badgers 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/scripts.js"></script>
    </body>
</html>
